.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;

    @at-root #{&}.normal {
        width: 80%;

        .product-cart {
            width: 27%;
        }
    }

    @at-root #{&}.more {
        width: 98%;

        .product-cart {
            width: 23%;
        }
    }
}

.product-cart {
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.3);
    margin: 1.5rem 0;
    align-self: unset;
    border-radius: 1rem;

    img {
        height: 250px;
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }

    & > div:first-of-type {
        padding: 1.4rem 1.5rem 0 1.5rem;
    }

    & > div:last-of-type {
        text-align: center;
        padding: 1rem 0;

        a, button {
            padding: 0.5rem 1rem;
            background-color: red;
            display: inline-block;
            margin: 0 0.3rem;
            border-radius: 0.3rem;
            color: white;
            text-decoration: none;
            margin: 0.3rem;
            font-size: 1rem;
        }

        button {
            border: none;
            cursor: pointer;
        }

        .remove {
            background-color: #F60000;
        }

        .edit {
            background-color: #FF8C00;
        }

        .add {
            background-color: #4DE94C;
        }

        .details {
            background-color: #3783FF;
        }

        .category {
            //background-color: #F7B300;
            background-color: #3ec0e8;
        }
    }

    p {
        margin: 0;

        &:first-of-type {
            display: flex;
            justify-content: space-between;
            font-size: 1.4rem;
            font-weight: 600;

            span:last-of-type {
                color: #11a33f;
                font-style: italic;
            }
        }

        &:nth-of-type(2) {
            margin: 0.6rem 0 0.8rem 0;
            font-size: 1.1rem;
            color: #66666A;
        }
    }

    .product-info {
        padding-bottom: 1rem;
        border-bottom: 1px solid #999;

        span {
            margin: 0 0.3rem;
            color: #666161;
        }
    }
}